<div class="home-container">
    <div class="cycle-slideshow"
         data-cycle-slides=".slide"
         data-cycle-timeout="0"
         data-cycle-log="false">
        <div class="slide">
            <img src="assets/images/magnificence.png" alt="Hero Art, Magnificence" class="yellow-shadow">
            <div class="slide-action">
                <p class="text-yellow">Join our</p>
                <p class="text-yellow">Superhero Nation!</p>
                <a href="#" class="btn btn-yellow">Learn More</a>
            </div>
        </div>
        <div class="slide">
            <img src="assets/images/rama.png" alt="Hero Art, Rambow" class="pink-shadow">
            <div class="slide-action">
                <p class="text-pink">The Story Behind</p>
                <p class="text-pink">Draw Me a Hero</p>
                <a href="#" class="btn btn-pink">My Story</a>
            </div>
        </div>
        <div class="slide">
            <img src="assets/images/trex.png" alt="Hero Art, T-Rex" class="green-shadow">
            <div class="slide-action">
                <p class="text-green">Bring Your Alter</p>
                <p class="text-green">Ego to Life!</p>
                <a href="order-hero.html" class="btn btn-green">Become A Hero</a>
            </div>
        </div>
        <span class="cycle-prev">&laquo;</span>
        <span class="cycle-next">&raquo;</span>
        <span class="cycle-pager"></span>
    </div>
</div>